{% extends "base.html" %}
{% block title %}站内信{% endblock %}
{% block main %}
<div id="main">
    <div id="sidebar">
            {% if not user %}
              <div class="panel">

                <div class="inner">
                  <p>CNode：Node.js专业中文社区</p>

                  <div>
                    您可以
                    <a href="/">登录</a>
                    或
                    <a href="/">注册</a>
                  </div>
                </div>

              </div>
                {% else %}
                <div class="panel">

                <div class="header">
                  <span class="col_fade">个人信息</span>
                </div>
                <div class="inner">
                  <div class="user_card">
              <div>
                <a class="user_avatar" href="/user/skadai">
                  <img src="{{ user.image }}" title="{{user.username}}">
                </a>
                <span class="user_name"><a class="dark" href="/user/{{user.username}}">{{user.username}}</a></span>

                <div class="board clearfix">
                </div>
                <div class="space clearfix"></div>
                <span class="signature">
                    “

                        {{ user.signature}}
                    ”
                </span>
              </div>
            </div>




                </div>

              </div>
                {% endif %}

                <div class="panel">
                    <div class="inner">
                        <a href="{{ url_for('topic.new') }}" class="create_topic_btn">
                            <span class="span-success">发布话题</span>
                        </a>
                    </div>
                </div>
                <div class="panel">
                    <div class="header">
                      <span class="col_fade">最热话题</span>
                    </div>
                    <div class="inner">

                      <ul class="unstyled">
                        {% for t in hots %}
                        <li>
                            <div>
                            <a class="dark topic_title" href="{{ url_for('topic.detail', id=t.id) }}" title="{{ t.title}}">{{ t.title}}</a>
                        </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                <div class="panel">
                    <div class="header">
                      <span class="col_fade">友情社区</span>
                    </div>
                    <div class="inner">
                      <ol class="friendship-community">
                        <div class="sep10"></div>
                        <li>
                          <a href="http://golangtc.com/" target="_blank">
                            <img src="http://o4j806krb.qnssl.com/public/images/golangtc-logo.png">
                          </a>
                        </li>
                        <div class="sep10"></div>
                        <li>
                          <a href="http://118.126.94.217:5000" target="_blank">
                            <img src="/images/manji.PNG">
                          </a>
                        </li>
                        <div class="sep10"></div>
                      </ol>
                    </div>
                  </div>
            </div>
    <div id="content">
        <div class="panel">

        <div class="header">
          <span class="col_fade">发件人: {{ mail.sender() }} </span>
          <span class="col_fade">收件人: {{ mail.receiver() }} </span>
          <span class="col_fade">主题: {{ mail.title }} </span>
        </div>
        <div class="inner">
          <div class="user_card">
            <p>{{ mail.content | safe }}</p>
          </div>
        </div>
    </div>

    </div>
</div>

{% endblock %}